 
<section id="content">
    <div id="breadcrumb-container" ><div class="container"><ul class="breadcrumb" style="background-color: transparent;margin-bottom:0px"><li><a routerLink="/main">Home</a></li><li><a routerLink="/shop">Shop</a></li><li class="active">Product</li></ul></div></div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">

            <header class="content-title"><h1 class="title">About</h1><div class="md-margin"></div></header>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>
              
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="assets/img/slider/1.jpg" alt="Los Angeles">
                  </div>
                  <div class="item">
                    <img src="assets/img/slider/2.jpg" alt="Chicago">
                   
                  </div>
                  <div class="item">
                    <img src="assets/img/slider/3.jpg" alt="New York">
                  </div>
                </div>
              
                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
              <div class="card-title">
                  <h5> ABOUT US </h5>
                 
                </div>
               <div>
                 <p>
              MEERSCHAUM TURKISH COMPANY PRODUCING BEAUTIFULLY DESIGNED AND HANDMADE MEERSCHAUM PIPES AT OUR OWN MANUFACTURING FACILITY IN ESKISEHIR, TURKEY. TIME BEGAN FOR MEERSCHAUM IN 1964, WHEN WE EMBARKED ON A JOURNEY TO MAKE BEAUTIFULLY DESIGNED PIPES OF EXCEPTIONAL QUALITY. INSPIRED BY A LOVE OF CARVING MASTERPIECE PIPES WE ACHIEVED TO HAVE DISTRIBUTORS IN EACH EUROPEAN COUNTRY, USA, RUSSIA AND CHINA. AND NOW, OUR PIPES ARE THE MOST POPULAR AND MOST WANTED MEERSCHAUM PIPES WORLDWIDE. WE DESIGN AND HAND CARVE TOP QUALITY PIPES BY USING FINEST QUALITY BLOCK MEERSCHAUM.
             EACH PIPE IS DESIGNED TO APPEAL TO THOSE WHO SHARE OUR PASSION FOR – AND APPRECIATION OF – MASTERY BEHIND A BEAUTIFUL MEERSCHAUM PIPE. WE HOPE YOU ENJOY THE SAME SATISFACTION WHEN YOU TRY AN MEERSCHAUM PIPE, AS WE DO IN CREATING ONE.
                 </p>
               </div>

               <section class="contact-section my-5">

                  <!-- Form with header -->
                  <div class="card">
                
                    <!-- Grid row -->
                    <div class="row">
                
                      <!-- Grid column -->
                      <div class="col-lg-8">
                
                        <div class="card-body form">
                
                          <!-- Header -->
                          <h3 class="mt-4"><i class="fa fa-envelope pr-2"></i>Write to us:</h3>
                
                          <!-- Grid row -->
                          <div class="row">
                
                            <!-- Grid column -->
                            <div class="col-md-6">
                              <div class="md-form mb-0">
                                <input type="text" id="form-contact-name" class="form-control" mdbInputDirective>
                                <label for="form-contact-name" class="">Your name</label>
                              </div>
                            </div>
                            <!-- Grid column -->
                
                            <!-- Grid column -->
                            <div class="col-md-6">
                              <div class="md-form mb-0">
                                <input type="text" id="form-contact-email" class="form-control" mdbInputDirective>
                                <label for="form-contact-email" class="">Your email</label>
                              </div>
                            </div>
                            <!-- Grid column -->
                
                          </div>
                          <!-- Grid row -->
                
                          <!-- Grid row -->
                          <div class="row">
                
                            <!-- Grid column -->
                            <div class="col-md-6">
                              <div class="md-form mb-0">
                                <input type="text" id="form-contact-phone" class="form-control" mdbInputDirective>
                                <label for="form-contact-phone" class="">Your phone</label>
                              </div>
                            </div>
                            <!-- Grid column -->
                
                            <!-- Grid column -->
                            <div class="col-md-6">
                              <div class="md-form mb-0">
                                <input type="text" id="form-contact-company" class="form-control" mdbInputDirective>
                                <label for="form-contact-company" class="">Your company</label>
                              </div>
                            </div>
                            <!-- Grid column -->
                
                          </div>
                          <!-- Grid row -->
                
                          <!-- Grid row -->
                          <div class="row">
                
                            <!-- Grid column -->
                            <div class="col-md-12">
                              <div class="md-form mb-0">
                                <textarea type="text" id="form-contact-message" class="form-control md-textarea" rows="3"
                                  mdbInputDirective></textarea>
                                <label for="form-contact-message">Your message</label>
                                <a mdbBtn floating="true" size="lg" color="#14bfcc" mdbWavesEffect>
                                  <i class="fa fa-send-o"></i>
                                </a>
                              </div>
                            </div>
                            <!-- Grid column -->
                
                          </div>
                          <!-- Grid row -->
                
                        </div>
                
                      </div>
                      <!-- Grid column -->
                
                      <!-- Grid column -->
                      <div class="col-lg-4" style="background-color:#14bfcc">
                
                        <div class="card-body contact text-center h-100 white-text">
                
                          <h3 class="my-4 pb-2">Contact information</h3>
                          <ul class="text-lg-left list-unstyled ml-4">
                            <li>
                              <p><i class="fa fa-map-marker pr-2"></i>New York, 94126, USA</p>
                            </li>
                            <li>
                              <p><i class="fa fa-phone pr-2"></i>+ 01 234 567 89</p>
                            </li>
                            <li>
                              <p><i class="fa fa-envelope pr-2"></i>contact@example.com</p>
                            </li>
                          </ul>
                          <hr class="hr-light my-4">
                          <ul class="list-inline text-center list-unstyled">
                            <li class="list-inline-item">
                              <a class="p-2 fa-lg tw-ic">
                                <i class="fa fa-twitter"></i>
                              </a>
                            </li>
                            <li class="list-inline-item">
                              <a class="p-2 fa-lg li-ic">
                                <i class="fa fa-linkedin"> </i>
                              </a>
                            </li>
                            <li class="list-inline-item">
                              <a class="p-2 fa-lg ins-ic">
                                <i class="fa fa-instagram"> </i>
                              </a>
                            </li>
                          </ul>
                
                        </div>
                
                      </div>
                      <!-- Grid column -->
                
                    </div>
                    <!-- Grid row -->
                
                  </div>
                  <!-- Form with header -->
                
                </section>
        </div>
      </div>
    </div>
  </section>


 